.Blog-Container_Article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-footer);

    background: radial-gradient(circle at 30% -100%, #01162a 25%, rgb(3, 35, 67) 85%, rgb(2, 53, 107) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Blog-Container_Article-Image {
    width: 100%;
    height: 100%;
    background-color: var(--color-footer);

}

.Blog-Container_Article-Image img {
    width: 100%;
    height: 100%;
}

.Blog-Container_Article-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.Blog-Container_Article-Content p {
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

    color: #fff;
}

.Blog-Container_Article-Content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;

    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}

.Blog-Container_Article-Content p:last-child {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .Blog-Container_Article-Content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}