.Features {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.Features-Heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;

    text-align: left;
    margin: 5rem;

}

.Features-Heading h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);

}

.Features-Heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    margin-top: 2rem;

}

.Features-Container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .Features {
        flex-direction: column;
    }

    .Features-Heading {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .Features-Heading h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .Features-Heading p {
        margin-top: 2px;
        font-size: 13px;
    }

    .Features-Container p {
        margin-top: 30px;
    }
}