.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem 6rem;
}

.Navbar-Links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.Navbar-Links-Logo {
    margin-right: 0;
    align-items: center;
}

.Navbar-Links-Logo img {
    width: 72.56px;
    height: 26.02px;
}

.Navbar-Links_Container {
    display: flex;
    flex-direction: row;
}

.Navbar-Sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Navbar-Links_Container p,
.Navbar-Sign p,
.Navbar-Menu_Container p {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.Navbar-Sign button,
.Navbar-Menu_Container button {

    padding: 0.5rem 2rem;
    color: white;
    background: rgba(255, 72, 32, 1);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.Navbar-Menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.Navbar-Menu svg {
    cursor: pointer;
}

.Navbar-Menu_Container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    background-color: var(--color-footer);
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.Navbar-Menu_Container p {
    margin: 1rem 0;
}

.Navbar-Menu_Container-Links-Sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .Navbar-Links_Container {
        display: none;
    }

    .Navbar-Menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .Navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .Navbar {
        padding: 2rem;
    }

    .Navbar-Sign {
        display: none;
    }

    .Navbar-Menu_Container {
        top: 20px;
    }

    .Navbar-Menu_Container-Links-Sign {
        display: block;
    }
}