.Possibility {
    display: flex;
    flex-direction: row;
}

.Possibility-Image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 2rem;
}

.Possibility-Image img {

    width: 80%;
    height: 100%;
}

.Possibility-Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 60px;
}

.Possibility-Content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    cursor: pointer;
}

.Possibility-Content h4:last-child {
    color: #ff8A71;
    cursor: pointer;
}

.Possibility-Content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.Possibility-Content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .Possibility {
        flex-direction: column;
    }

    .Possibility-Image {
        margin: 1rem 0;
    }

    .Possibility-Image img {
        width: 90%;
        height: 90%;
    }
        .Possibility-Image{
        justify-content: flex-start;

    }
    .Possibility-Content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .Possibility-Image img {
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 550px) {

    .Possibility-Content h4 {
        font-size: 13px;
    }
    .Possibility-Image{
        justify-content: flex-start;

    }
}